<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
      <add key="server" value="127.0.0.1" />
      <add key="port" value="8080" />
      <add key="protocol" value="http" />
      <add key="ThreadCount" value="5" />
  </appSettings>
</configuration>
